# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/
media/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
